@media (max-width: 1199px) {
  .offcanvas-collapse {
    position: fixed;
    top: 0; /* Height of navbar   */
    bottom: 0;
    width: 100%;
    max-width: 360px;
    left: 0;
    overflow-y: auto;
    background-color: #fff;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: hidden;
    &.open {
      visibility: visible;
      z-index: 100;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    &.closed-menu {
      visibility: visible;
      z-index: 100;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}

