@import "offcanvas/offcanvas";

/*
Fix for 100vw. 100vw is 100% however only if the overflow on axis x is hidden it does not take account for the scrollbars.
*/
body {
  overflow-x: hidden;
}

@media(min-width: 1200px) {
  .navbar {
    background: transparent;
    #BestResponsiveMediaMenu {
      ul {
        li {
          font-size: 0.875rem;
          .dropdown-menu {
            border:none;
            border-radius: 0;
            border-top: 1px solid #ddd;
            background: #f9f9f9;
            padding: 60px 40px;
            left: -15px;
            // this is equivalent to 100% width, luckily we can use this here since mangento 2 support from IE 11 and up and this units are supported
            width: 100vw;
            .level1 {
              > .nav-link {
                font-size: 18px;
                padding: 0 0 20px 0;
                margin-bottom: 15px;
                position: relative;
                &:after {
                  content: "";
                  position: absolute;
                  width: 40px;
                  height: 1px;
                  background: #000;
                  left: 0;
                  bottom: 0;
                }
              }
              .level2 {
                margin-bottom: 5px;
                > .nav-link {
                  padding: 0;
                }
              }
            }
          }

          &.level0{
            position: static;
          }
        }
      }
    }
  }
}

.hidden-custom {
  @media(max-width: 1199px) {
    display: none !important;
  }
}

.optional-expanding {
  @media(max-width: 1199px) {
    &:after {
      width: 0;
      height: 0;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }
  }
}